[client]

[mysqld]
port         = 3306
socket       = /var/run/mysqld/mysqld.sock
bind-address = 0.0.0.0
log_error    = /var/log/mysql/error.log
temp-pool
default-storage-engine=MyISAM
skip-innodb

[mysqldump]
quick
set-variable = max_allowed_packet=16M

[mysql]
no-auto-rehash

[myisamchk]
set-variable = key_buffer=128M

[mysqld_safe]
socket       = /var/run/mysqld/mysqld.sock
nice         = 0
log_error    = /var/log/mysql/error.log

[innodb]
innodb_buffer_pool_size        = 256M
innodb_log_file_size           = 256M
innodb_thread_concurrency      = 16
innodb_flush_log_at_trx_commit = 2
innodb_flush_method            = normal